<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción del Proyecto</title>
    <link rel="icon" href="img_templates/icono.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css_templates/styles_proyectos.css">
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navegador de los templates -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="img_templates/about_img.jpeg" alt="Imagen de perfil"
             class="img-fluid rounded-circle header-img fade-in" style="max-width: 60px;">
            <a class="navbar-brand">Proyecto Alquiler Vacacional</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/GeritoRepo.github.io/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#GitHub">Git Hub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#Admin">Panel Administrador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#User">Panel Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#Sql">SQL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Carrusel de Fotos -->
    <div id="carouselExample" class="carousel slide fade-in" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img_templates/vacaciones-1536x863.jpg" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Proyecto Viaje Feliz</h5>
                    <p>Una experiencia inolvidable.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img_templates/vacaiones.jpg" class="d-block w-100" alt="Slide 2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Alquiler Vacacional</h5>
                    <p>Disfruta de tus vacaciones en el mejor lugar.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img_templates/casa.jpg" class="d-block w-100" alt="Slide 3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tecnología de Vanguardia</h5>
                    <p>Implementamos las mejores tecnologías para tu comodidad.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Contenido del Proyecto -->
    <header class="py-5 ">
        <section  class="py-5">
            <div class="container fade-in">
                <div class="row" id="GitHub">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading project-title mb-4">Alquiler Vacacional</h2>
                        <p class="project-info mb-4">Tecnologías utilizadas: HTML5, CSS3, Python, Spring Boot, SQL Server, Java, TomCat.</p>
                        <p class="project-info mb-4">45.8 Horas de Trabajo</p>
                        <p class="project-description mb-4">El proyecto "Viaje Feliz" cuenta con un CRUD funcional, una base de datos sólida y formalizada, además de pasarela de pagos y seguridad gracias al framework Spring Boot.</p>
                        
                        <div class="vstack gap-2 col-md-5 mx-auto">
                            <a  href="https://github.com/porman193/proyecto-viaje-feliz" class="btn btn-outline-secondary">Git Hub Code</a> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    
<!-- Sección CRUD -->
<section id="crud" class="crud-section py-5 bg-light">
    <div class="container text-center card-expanded" id="Admin">
        <h2 class="text-center mb-2 fade-in">Vista Administrador - CRUD</h2>
        <div class="row row-cols-1 row-cols-md-2 g-2 fade-in">
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/vista-admin.png" class="card-img-top" alt="CRUD Image 1">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Vista Panel Administrador</h5>
                        <p class="card-text">La vista del administrador ademas de las gestiones de propiedaes, reserva y usuarios, tambien maneja un boton de Backup, donde guarda en tiempo real los datos.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/usuarios.png" class="card-img-top" alt="CRUD Image 2">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Gestion Usuarios</h5>
                        <p class="card-text">El panel administrativo permite ver todos los usuarios registrados en la base de datos, como tambien podra eliminarlos y editar los atirbutos que estos tengan.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/editar-usuario.png" class="card-img-top" alt="CRUD Image 3">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Editar Usuario</h5>
                        <p class="card-text">El administrador podra editar los datos personales de un usuario registrado, no importa si es de personal o cliente</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/gestion-reserva.png" class="card-img-top" alt="CRUD Image 4">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Gestion Reserva</h5>
                        <p class="card-text">El panel del administrador tiene todo el acceso a la informacion de las reservas hechas por usuarios, como tambien podra ver reservas anteriores y sus calificaciones en la caja de comentarios.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/reserva-editar.png" class="card-img-top" alt="CRUD Image 5">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Editar Reservas</h5>
                        <p class="card-text">El administrador podra editar las reservas en tiempo real, todo esto cuando llegue por peticion de un usuario, o cuando se cancela el servicio por incumplimiento de pago.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/gestion-propiedades.png" class="card-img-top" alt="CRUD Image 6">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Gestion Propiedad</h5>
                        <p class="card-text">El panel del administrador tiene acceso a todos los datos registrados de las propiedades, asi como toda su informacion especifa, el podra eliminar, editar y añadir a la base de datos.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/editar-propiedad.png" class="card-img-top" alt="CRUD Image 7">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Editar Propiedad</h5>
                        <p class="card-text">El administrador podra editar una propiedad en caso de que esta no este en stock, tenga algun mantenimiento o cambie el formato en el que se vende.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/añadir-propiedad.png" class="card-img-top" alt="CRUD Image 8">
                    <div class="card-body">
                        <h5 class="card-title">CRUD - Añadir Propiedad</h5>
                        <p class="card-text">El administrador podra añadir una nueva propiedad con todas las caracteristicas especificas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sección CRUD -->
<section id="crud" class="crud-section py-5 bg-light">
    <div class="container text-center" id="User">
        <h2 class="text-center mb-2 fade-in">Vista Cliente - Usuario</h2>
        <div class="row row-cols-1 row-cols-md-2 g-2 fade-in">
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/vista-usuario.png" class="card-img-top" alt="CRUD Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Vista - Cliente</h5>
                        <p class="card-text">Al iniciar Sesión, el cliente podra ver todos los destinos disponibles que brinda la empresa como tambien informacion de la empresa </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/reserva-usuario.png" class="card-img-top" alt="CRUD Image 2">
                    <div class="card-body">
                        <h5 class="card-title">USER - Reservar del Usuario</h5>
                        <p class="card-text">El usuario - cliente podra reservar una vez haya iniciado sesión</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/pasarela.png" class="card-img-top" alt="CRUD Image 3">
                    <div class="card-body">
                        <h5 class="card-title">USER - Pasarela de Pagos</h5>
                        <p class="card-text">La pasarela de usuarios, permite al usuario elegir el metodo de pago y si desea pagarlo a cuotas...</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/usuario-reserva.png" class="card-img-top" alt="CRUD Image 4">
                    <div class="card-body">
                        <h5 class="card-title">USER - perfil</h5>
                        <p class="card-text">En el perfil del usuario - cliente, podra ver la informacion de si mismo como tambien las reservas que ha hecho. Cabe destacar que al momento de hacer una reserva cuotas este le saldra un boton que permite pagar lo faltante como tambien al final una reserva se le habilitara una caja de comentarios para puntuar dicha reserva... <p>
                   
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
    <!-- Sección SQL --><section id="crud" class="sql-section py-5 bg-light">
    <div class="container" id="Sql">
        <h2 class="text-center mb-4 fade-in">Base de Datos SQL</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4 fade-in">
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/bd.png" class="card-img-top" alt="SQL Image 1">
                    <div class="card card-body mt-3">
                        <h5 class="card-title">Base de Datos SQL - Mdelo Relacional Normalizado</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="img_templates/weork.png" class="card-img-top" alt="SQL Image 2">
                    <div class="card card-body mt-3">
                        <h5 class="card-title">Base de Datos SQL - Tablas SQL Workbench</h5>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <p>&copy; 2024 Gerito. Todos los derechos reservados.</p>
            <p>Sitio Web creado con Boostrap</p>
            <div class="social-links mt-3">
                <a href="https://www.linkedin.com/in/geronimo-alarcon-garcia-09b871312/" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077041965141" class="text-white me-3"><i class="fab fa-facebook"></i></a>
                <a href="https://github.com/GeritoJavita" class="text-white me-3"><i class="fab fa-github"></i></a>
                <a href="https://wa.me/+573136552604" class="text-white"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
    <div class="go-top-container">
        <div class="go-top-button">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    
    <script src="scripts/script.js"></script>
    <script src="scripts/goto.js"></script>
    <!-- Bootstrap JS y Popper.js (requerido para los componentes de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>